.section h3 {
  margin-left: -3px;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

#photos img {
  margin-top: 10px;
  width: 100%;
}

#profile_pic {
  margin-top: 50px;
}

body {
  background: #eee;
}

a {
  border: 1px solid;
border-radius: 3px;
  padding: 7px 12px;
transition: padding .1s;
}
a:hover {
  color: white !important;
  background: #039be5;
  padding: 10px 20px;
}

#more a{
    border: none;
    border-bottom: 1px solid;
}
.page-footer {
  padding-top: 0px !important;
}

#more h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#more {
  margin-top: 20px;
  width: calc(100% - 20px);
  padding-bottom: 10px;
  margin-left: 10px;
}

footer span {
  font-size: 1.7em;
}

#profile_pic > img {
   width: 250px; 
}

#greeting, h3{
    color: #555;
}

body {
    background-image: url("../bg.png");
    background-repeat: repeat;
}

#topBar {
    width: 100%;
    position: fixed;
    height: 5px;
    left: 0;
    top: 0;
}
